@page
@model Admin.EndPoint.Pages.CatalogType.CreateModel
@{
}

<div class="statbox widget box box-shadow">
    <div class="widget-header">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                <h4>ایجاد دسته بندی جدید</h4>
            </div>
        </div>
    </div>

    <div class="widget-content widget-content-area">
        @foreach(var item in Model.Massages)
        {
            <div class="alert alert-info">
                <p>@item</p>
                </div>
        }
    </div>
    <div class="widget-content widget-content-area">
        <form asp-page="create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-4">
                <input type="text" class="form-control" id="rEmail" placeholder="نام دسته بندی *" asp-for="catalogTypeViewModel.Type">
                <span asp-validation-for="catalogTypeViewModel.Type" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="catalogTypeViewModel.ParentCatalogTypeId" />
            

            <input type="submit" value="ثبت" class="btn btn-primary" />
            <a asp-page="index" class="btn btn-info">برگشت به لیست</a>
        </form>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}